<div class="domain flexrow"  data="{{id}}">
  <span>
    <b>{{#if data.primary}}{{localize 'DUNE.primary'}}{{else}}{{localize 'DUNE.secondary'}}{{/if}}: </b>
    {{data.area}} ({{data.field}})
    {{#if data.details}} &mdash; {{data.details}}{{/if}}
  </span>
  <button class="del"><span class="fas fa-trash"></span></button>
</div>
